.bg-white{
  background-color: #ffffff;
}
.w-100{
  width: 100%;
}
.card {
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.padding-20{
  padding: 20px;
}
.margin-t-20{
  margin-top: 20px;
}
.margin-t-10{
  margin-top: 10px;
}
.font-25{
  font-size: 25px;
}
.font-20{
  font-size: 20px;
}
.pointer{
  cursor: pointer;
}

